<!--<form #f="ngForm" (ngSubmit)="onLogin(f.value)" *ngIf="!auth.loggedIn()">
    <input type="text" placeholder="username" ngControl="username">
    <input type="password" placeholder="password" ngControl="password">
    <button type="submit">Submit</button>    
</form>-->

<!--<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <clr-icon shape="library" class="is-solid" size="24"></clr-icon><br>
            <strong>Intranet Portal</strong>
            <span style="font-size:0.6em">Jizan Perfumes LLC</span>
        </label>
        <div class="alert alert-info" style="margin-top:20px;margin-bottom:0px">
            <div class="alert-item">
                <span>
                    Please enter your domain credentials!
                </span>
            </div>
        </div>
        <div class="login-group">
            <input class="username" [(ngModel)] = 'credentials.username' type = "text" name="username" id="login_username" placeholder="Username">
            <input class="password" [(ngModel)] = 'credentials.password' type ="password" name="password" id="login_password" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div class="error active" *ngIf = "isError == 1">
                Invalid user name or password
            </div>
            <button (click) = 'doLogin()' type="submit" class="btn btn-primary">LOG IN</button>
        </div>
    </form>
</div>-->


<div id = 'loginContainer' fxLayout

        fxLayoutAlign="center center" style="position: absolute;
       top: 0px; /* Header Height */
       bottom: 0px; /* Footer Height */
       width: 100%;">
  <div
      fxFlexAlign ="center center" fxFlex fxFlexOffset="5px" fxFlexOffset.xs='5px' fxFlex.xs='80%' fxFlex="40%">
      <div id = 'loginTitle' fxLayout fxLayout='column' fxLayoutAlign="center center">
          <md-icon>forum</md-icon>
                   <h2>INTRANET PORTAL</h2>
        </div>
        <md-card class = 'login-card' >
            <md-card-title>Login</md-card-title>
            <md-card-subtitle>Please provide your domain credentials!</md-card-subtitle>
            <br>
            <md-card-content>
                <md-input-container>
                        <input mdInput [(ngModel)] = 'credentials.username' placeholder="Username">
                </md-input-container>
                <br>
                <md-input-container>
                        <input mdInput [(ngModel)] = 'credentials.password' type="password" placeholder="Password">
                </md-input-container>
                <div class="error active" *ngIf = "isError == 1">
                    Invalid user name or password!
                </div>
            </md-card-content>
            <md-card-actions >
                <button md-button type='submit' (click) = 'doLogin()'>LOGIN</button>
            </md-card-actions>
        </md-card>
              <div fxLayout fxLayout='column' fxLayoutAlign="center center">
                  <br>
                  Jizan Perfumes LLC<br>
            <span>2017</span>
        </div>
  </div>

</div>





