<!--<div color="primary">
  <span>ngIntranet</span>
  <button [routerLink] = "menuItem.url" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" *ngFor="let menuItem of (menu$ | async)">{{menuItem.title | translate}}</button>
  <span class="example-spacer"></span>
  <lang-switcher></lang-switcher>
</div>-->

<div class = 'font-override'>
  <md-toolbar color="primary" (color) = 'primary' fxLayout >
   <button md-button fxFlexOffset='5px' href="#" class="nav-links" [routerLink] = "menuItem.url" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngFor="let menuItem of (menu$ | async)">
          <span class="nav-text"><strong>{{menuItem.title}}</strong></span>
      </button>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
  </md-menu>

</div>

